<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FlameSky.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FlameSky.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="FlameSky.Properties.Settings.FlameSkyConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\FlameSky.mdf;Integrated Security=True;Persist Security Info=False;Connect Timeout=30;Column Encryption Setting=Enabled"
      providerName="System.Data.SqlClient" />
    <add name="FlameSky.Properties.Settings.FlameSkyPlannerConnectionString"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\FlameSkyPlanner.accdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <appSettings>
    <add key="torConfigurationFile" value="" />
    <add key="torControlPassword" value="" />
    <add key="torControlPort" value="9051" />
    <add key="torDefaultConfigurationFile" value="" />
    <add key="torPath" value="Tor\Tor\tor.exe" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <FlameSky.Properties.Settings>
      <setting name="Homepage" serializeAs="String">
        <value>www.google.com/en</value>
      </setting>
      <setting name="DefaultSearchEngine" serializeAs="String">
        <value>https://www.google.com/search?q=</value>
      </setting>
      <setting name="BrowserHistoryFilepath" serializeAs="String">
        <value />
      </setting>
      <setting name="ParentalControlsSignUpFirstTime" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ParentalAuthorityUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="ParentalAuthorityPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="ParentalAuthorityLockEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AntiPornPA" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AntiSocialMediaPA" serializeAs="String">
        <value>False</value>
      </setting>
    </FlameSky.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <FlameSky.Properties.Settings>
      <setting name="URLHistory" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>www.flamesky.weebly.com</string>
          </ArrayOfString>
        </value>
      </setting>
    </FlameSky.Properties.Settings>
  </applicationSettings>
</configuration>